* {
    background-color: rgba(158, 53, 123, 0.376);
    font-family: sans-serif; color: whitesmoke;
}

.header h1 {
    background-color: rgba(98, 0, 255, 0.506);
    padding: 50px;
    font-size: 50px;
    text-align: center;
}

nav {
    display: inline;
    float: right;
    text-decoration: none;
    font-size: 20px;
}

img {
    border: 10px;
    color: black;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figcaption {
    text-align: center;
}

.info {
    padding: 30px;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    padding: 20px;
}
.contactform {
    text-align: center;
    padding-bottom: 20px;
}

input {
    background-color: rgb(218, 109, 109);
}


footer {
    text-align: center;
    background-color: rgba(98, 0, 255, 0.506);
    padding: 50px;
}